*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: $black;
}


img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

.h1 {
  font-weight: 500;
  font-size: 48px;
  line-height: 55px;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;

  b {
    margin-bottom: 10px;
    font-weight: 800;
    display: block;
  }
}

.h2 {
  text-align: center;
  font-weight: 700;
  font-size: 24px;
  line-height: 24px;
  margin-bottom: 50px;
}

.h3 {
  font-weight: 500;
  font-size: 21px;
  line-height: 30px;
}

.h4 {
  font-size: 18px;
  font-weight: 700;
}

.section {
  padding-top: 40px;
  padding-bottom: 90px;
}

// .section_gray {
//   background-color: $graybg;
// }

.section_pt_0 {
  padding-top: 0;
}

.text-left {
  text-align: left;
}

.h2_margin_sm {
  margin-top: 0;
  margin-bottom: 30px;
}

.visually-hidden {
  @include visually-hidden();
}