// Globals
@import "./globals/normalize.scss";
@import "./globals/vars.scss";
@import "./globals/mixins.scss";

@import "./globals/common.scss";

// Components
@import "./components/btn.scss";
@import "./components/input.scss";
@import "./components/checkbox.scss";
@import "./components/radio.scss";
@import "./components/container.scss";
@import "./components/header.scss";
@import "./components/footer.scss";
@import "./components/nav.scss";
@import "./components/promo.scss";
@import "./components/friends.scss";
@import "./components/cards-list.scss";
@import "./components/card.scss";
@import "./components/circles.scss";
@import "./components/form.scss";
@import "./components/advant.scss";
@import "./components/way.scss";
@import "./components/repair.scss";
@import "./components/goods.scss";
@import "./components/rails.scss";
@import "./components/breadcrumbs.scss";
@import "./components/tabs.scss";
@import "./components/category.scss";
@import "./components/drop.scss";