.breadcrumbs {
  padding-top: 15px;
  padding-bottom: 40px;
  font-weight: 400;
  font-size: 14px;
  color: $graydark;

  &_bg_gray {
    background-color: $graybg;
  }
}

.breadcrumbs__list {
  @include reset-list();
  display: flex;
}

.breadcrumbs__list a {
  display: flex;
  align-items: center;
  &::after {
    content: '/';
    font-weight: 400;
    font-size: 14px;
    color: $graydark;
    margin-left: 5px;
    margin-right: 5px;
  }

  &.current {
    color: $red;
    border-bottom: 1px solid $red;

    &::after {
      display: none;
    }
  }

}