.footer {
  background-color: #D1D1D1;
  padding-top: 40px;
  padding-bottom: 50px;
}

.footer__ul,
.footer__messengers,
.footer__socials {
  @include reset-list();
}

.footer__top {
  display: flex;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #474747;
}

.footer__nav {
  display: flex;
  margin-left: 190px;

  @media (max-width: $breakpoint-sm) {
    margin-left: auto;
  }

  @media (max-width: $breakpoint-xs) {
    margin-left: 0;
    flex-wrap: wrap;
  }

  a.active {
    font-weight: 600;
  }
}

.footer__ul {
  margin-right: 45px;
  &:last-of-type {
    margin-right: 0;
  }

  @media (max-width: $breakpoint-md) {
    margin-right: 25px;
  }

  li {
    margin-bottom: 5px;
  }

  @media (max-width: $breakpoint-xs) {
    width: 50%;
    margin-right: 0;
  }
}

.footer__ul--hide-mobile li:nth-child(1) {
  @media (max-width: $breakpoint-xs) {
    display: none;
  }
}

.footer__top-logo {
  @media (max-width: $breakpoint-xs) {
    display: none;
  }
}

.footer__bottom {
  margin-top: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;

  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  text-align: center;

  color: $graydark;

  @media (max-width: $breakpoint-md) {
    margin-top: 45px;
  }

  @media (max-width: $breakpoint-sm) {
    margin-top: 35px;
  }

  @media (max-width: $breakpoint-xs) {
    margin-top: 25px;
  }
}

.footer__contacts {
  @media (max-width: $breakpoint-xs) {
    width: 100%;
    margin-top: 15px;
  }
}

.footer__messengers {
  display: flex;

  a {
    display: flex;
    &::after {
      margin-left: 28px;
      margin-right: 28px;
      content: '';
      width: 1px;
      height: 24px;
      background-color: $graydark;
    }
  }

  li:last-of-type a::after {
    display: none;
  }
}

.footer__socials {
  display: flex;

  li {
    margin-right: 10px;
  }

  a {
    display: flex;
    align-items: center;
  }
  
  li:last-of-type {
    margin-right: 0;
  }
}

.footer__copy {
  margin-top: 18px;
  margin-bottom: 18px;

  @media (max-width: $breakpoint-xs) {
    max-width: 180px;
  }
}