.header {

  @media (max-width: $breakpoint-sm) {
    position: fixed;
    top: 0;
    background: $white;
    z-index: 3;
    width: 100%;
  }

}

.header__top {
  padding-top: 25px;
  border-bottom: 1px solid $light;
  padding-bottom: 25px;

  @media (max-width: $breakpoint-sm) {
    height: 75px;
    display: flex;
    padding: 0;
    align-items: center;
  }
}

.header__container {
  display: flex;
  align-items: center;
}

.header__right {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.header__bottom {
  padding-top: 25px;
  padding-bottom: 25px;
  border-bottom: 1px solid $light;

  
  @media (max-width: $breakpoint-sm) {
    padding: 0;
    border: none;
  }
}

.header__btn {
  margin-left: 35px;

  @media (max-width: $breakpoint-sm) {
    display: none;
  }
}

.header__mail {
  display: flex;
  margin-left: 30px;

  @media (max-width: $breakpoint-sm) {
    display: none;
  }
}

.header__call {
  display: flex;
  margin-left: 30px;
}

.header__phone {
  font-weight: 500;
  font-size: 24px;
  line-height: 22px;
  text-transform: uppercase;
  color: $gray;

  @media (max-width: $breakpoint-sm) {
    display: none;
  }
}

.header__toggle {
  background-color: transparent;
  cursor: pointer;
  border: none;
  padding: 0;
  width: 33px;
  height: 33px;
  margin-left: 20px;
  margin-right: 11px;
  display: none;

  @media (max-width: $breakpoint-sm) {
    display: block;
  }
}

.header--nojs {
  position: static;
}

.header--opened .nav {
  display: block;
  position: absolute;
  width: 100%;
  z-index: 3;
  background-color: $white;
}

.header--nojs .header__nav {
  display: block;
}

.header--nojs .header__toggle {
  display: none;
}