.nav {

}

.nav__ul {
  display: flex;
  @include reset-list;
}

.nav__li {
  margin-right: 60px;
  &:last-child {
    margin-right: 0;
  }
}

.nav__anchor {
  font-weight: 700;
  font-size: 21px;
  line-height: 24px;
  color: $black;
  transition: all 0.3s;

  &:hover {
    color: $red;
  }
}