.promo {
  background-image: url(../img/promo.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 600px;
  display: flex;
  
  align-items: center;

  @media (max-width: $breakpoint-xs) {
    background-position: 70%;
    min-height: 350px;
    margin-top: 55px;
  }
}

.promo__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 870px;
  max-width: 100%;
  margin: 0 auto;
  color: $white;

  @media (max-width: $breakpoint-xs) {
    max-width: 320px;
  }

  .h1 {
    @media (max-width: $breakpoint-xs) {
      font-size: 21px;
      line-height: 24px;
      margin-top: 30px;
      margin-bottom: 30px;
    }
  }
}

.promo__btn {
  @media (max-width: $breakpoint-xs) {
    font-size: 16px;
  }
}