.repair__block {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;

  @media (max-width: $breakpoint-sm) {
    flex-direction: column;
  }
}

.repair__item {
  position: relative;
  width: 707px;
  height: 328px;
  display: flex;
  justify-content: center;
  align-items: center;

  @media (max-width: $breakpoint-sm) {
    align-self: center;
    margin-bottom: 40px;
  }

  @media (max-width: $breakpoint-xs) {
    height: 203px;
    width: 320px;
    margin-bottom: 20px;
  }
}

.repair__pic {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.repair__text {
  width: 330px;
  position: relative;
  z-index: 1;
  text-align: center;
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
  color: $white;

  @media (max-width: $breakpoint-xs) {
    font-size: 21px;
    line-height: 29px;
    max-width: 250px;
  }
}